<html>
    <head>
        <title> Login - Medicine Order system</title>
        <link rel="stylesheet"  href="{{ url_for('static', filename='css/admin.css') }}">
    </head>

    <body class="login">
        <h1 class="text-center">Inventory Management System</h1>
        </br></br>



    </br></br>
    <!---login form starts here--->
    <form action="/customer-register" method="get" class="text-center">
        <input type="submit" name="submit" value="Customer Register" class="btn-primary">      
    </form>
    <br>
    <br>
    <form action="/customer-login" method="get" class="text-center">
        <input type="submit" name="submit" value="Customer Login" class="btn-primary">      
    </form>
</br>


    <p class="text-center"> Created By - <a href="69">69</a></p>

</body>
</html>