<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Important to make website responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicine Website</title>

    <!-- Link our CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <!-- Navbar Section Starts Here -->
    <section class="navbar">
        <div class="container">
            <div class="logo">
                <a href="#" title="Logo">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Restaurant Logo"
                        class="img-responsive">
                </a>
            </div>

            <div class="menu text-right">
                <ul>
                    <li>
                        <a href="/index">Home</a>
                    </li>
                    <li>
                        <a href="categories.html">Categories</a>
                    </li>
                    <li>
                        <a href="medicines.html">Medicines</a>
                    </li>
                    <li>
                        <a href="/add-to-cart">Cart</a>
                    </li>
                    <li>
                        <a href="/get-orders">Orders</a>
                    </li>
                    <li>
                        <a href="/customer-login">Login</a>
                    </li>
                </ul>
            </div>

            <div class="clearfix"></div>
        </div>
    </section>
    <!-- Navbar Section Ends Here -->

    <!-- sEARCH Section Starts Here -->
    <section class="medicine-search text-center">
        <div class="container">

            <form action="medicine-search.html" method="POST">
                <input type="search" name="search" placeholder="Search for Medicine.." required>
                <input type="submit" name="submit" value="Search" class="btn btn-primary">
            </form>

        </div>
    </section>
    <!--  sEARCH Section Ends Here -->

    <!-- CAtegories Section Starts Here -->
    <section class="categories">
        <div class="container">
            <h2 class="text-center">Explore Medicines</h2>

            <a href="category-medicines.html">
                <div class="box-3 float-container">
                    <img src="static/images/pizza.jpg" alt="Pizza" class="img-responsive img-curve">

                    <h3 class="float-text text-white">Syrup</h3>
                </div>
            </a>

            <a href="#">
                <div class="box-3 float-container">
                    <img src="static/images/burger.jpg" alt="Burger" class="img-responsive img-curve">

                    <h3 class="float-text text-white">Tablets</h3>
                </div>
            </a>

            <a href="#">
                <div class="box-3 float-container">
                    <img src="static/images/momo.jpg" alt="Momo" class="img-responsive img-curve">

                    <h3 class="float-text text-white">Capsules</h3>
                </div>

            </a>

            <div class="clearfix"></div>
        </div>
    </section>
    <!-- Categories Section Ends Here -->

    <!--  MEnu Section Starts Here -->
    <section class="medicine-menu">
        <div class="container">
            <h2 class="text-center">Medicine Menu</h2>
            {% for key, value in medicines.items() %}
            <div class="medicine-menu-box">
                <div class="medicine-menu-img">
                    <img src="static/images/menu-pizza.jpg" alt="dolo" class="img-responsive img-curve">
                </div>
                <form action="/add-to-cart" method="POST" class="text-center">
                    <div class="medicine-menu-desc">
                        <h4>{{value['name']}}</h4>
                        <input type="hidden" name="name" value="{{value['name']}}">
                        <input type="hidden" name="price" value="{{value['price']}}">
                        <input type="hidden" name="description" value="{{value['description']}}">
                        <p class="medicine-price">${{value['price']}}</p>
                        <p class="medicine-detail">
                            {{value['description']}}
                        </p>
                        <br>
                    </div>
                    <input type="submit" name="submit" value="Add To Cart" class="btn-primary">
                </form>

            </div>
            {% endfor %}



            <div class="clearfix"></div>



        </div>

        <p class="text-center">
            <a href="#">See All Medicines</a>
        </p>
    </section>
    <!--  Menu Section Ends Here -->

    <!-- social Section Starts Here -->
    <section class="social">
        <div class="container text-center">
            <ul>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/50/000000/facebook-new.png" /></a>
                </li>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/48/000000/instagram-new.png" /></a>
                </li>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/48/000000/twitter.png" /></a>
                </li>
            </ul>
        </div>
    </section>
    <!-- social Section Ends Here -->

    <!-- footer Section Starts Here -->
    <section class="footer">
        <div class="container text-center">
            <p>All rights reserved. Designed By <a href="#">Group No 69</a></p>
        </div>
    </section>
    <!-- footer Section Ends Here -->

</body>

</html>