<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Important to make website responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicine Website</title>

    <!-- Link our CSS file -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- Navbar Section Starts Here -->
    <section class="navbar">
        <div class="container">
            <div class="logo">
                <a href="#" title="Logo">
                    <img src="images/logo.png" alt="Website Logo" class="img-responsive">
                </a>
            </div>

            <div class="menu text-right">
                <ul>
                    <li>
                        <a href="/index">Home</a>
                    </li>
                    <li>
                        <a href="categories.html">Categories</a>
                    </li>
                    <li>
                        <a href="medicines.html">Medicines</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="clearfix"></div>
        </div>
    </section>
    <!-- Navbar Section Ends Here -->

    <!-- medicine sEARCH Section Starts Here -->
    <section class="medicine-search text-center">
        <div class="container">
            
            <h2>Medicines on Your Search <a href="#" class="text-white">"Dolo"</a></h2>

        </div>
    </section>
    <!-- medicine sEARCH Section Ends Here -->



    <!-- medicine MEnu Section Starts Here -->
    <section class="medicine-menu">
        <div class="container">
            <h2 class="text-center">Medicine Menu</h2>

            <div class="medicine-menu-box">
                <div class="medicine-menu-img">
                    <img src="images/menu-pizza.jpg" alt="Dolo" class="img-responsive img-curve">
                </div>

                <div class="medicine-menu-desc">
                    <h4>Medicine Title</h4>
                    <p class="medicine-price">$2.3</p>
                    <p class="medicine-detail">
                        Desc
                    </p>
                    <br>

                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>

            <div class="medicine-menu-box">
                <div class="medicine-menu-img">
                    <img src="images/menu-burger.jpg" alt="Dolo" class="img-responsive img-curve">
                </div>

                <div class="medicine-menu-desc">
                    <h4>Medicine Title</h4>
                    <p class="medicine-price">$2.3</p>
                    <p class="medicine-detail">
                        Desc
                    </p>
                    <br>

                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>

            <div class="medicine-menu-box">
                <div class="medicine-menu-img">
                    <img src="images/menu-burger.jpg" alt="Dolo" class="img-responsive img-curve">
                </div>

                <div class="medicine-menu-desc">
                    <h4>Medicine Title</h4>
                    <p class="medicine-price">$2.3</p>
                    <p class="medicine-detail">
                        Desc
                    </p>
                    <br>

                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>

            <div class="medicine-menu-box">
                <div class="medicine-menu-img">
                    <img src="images/menu-pizza.jpg" alt="Dolo" class="img-responsive img-curve">
                </div>

                <div class="medicine-menu-desc">
                    <h4>Medicine Title</h4>
                    <p class="medicine-price">$2.3</p>
                    <p class="medicine-detail">
                        Desc
                    </p>
                    <br>

                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>

            <div class="medicine-menu-box">
                <div class="medicine-menu-img">
                    <img src="images/menu-pizza.jpg" alt="Dolo" class="img-responsive img-curve">
                </div>

                <div class="medicine-menu-desc">
                    <h4>Medicine Title</h4>
                    <p class="medicine-price">$2.3</p>
                    <p class="medicine-detail">
                        Desc
                    </p>
                    <br>

                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>

            <div class="medicine-menu-box">
                <div class="medicine-menu-img">
                    <img src="images/menu-momo.jpg" alt="Dolo" class="img-responsive img-curve">
                </div>

                <div class="medicine-menu-desc">
                    <h4>Medicine Title</h4>
                    <p class="medicine-price">$2.3</p>
                    <p class="medicine-detail">
                        Desc
                    </p>
                    <br>

                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>


            <div class="clearfix"></div>

            

        </div>

    </section>
    <!-- medicine Menu Section Ends Here -->

    <!-- social Section Starts Here -->
    <section class="social">
        <div class="container text-center">
            <ul>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/50/000000/facebook-new.png"/></a>
                </li>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/></a>
                </li>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/48/000000/twitter.png"/></a>
                </li>
            </ul>
        </div>
    </section>
    <!-- social Section Ends Here -->

    <!-- footer Section Starts Here -->
    <section class="footer">
        <div class="container text-center">
            <p>All rights reserved. Designed By <a href="#">Group No 69</a></p>
        </div>
    </section>
    <!-- footer Section Ends Here -->

</body>
</html>